<div class="ml-4">


    <div class="row search mb-4 ml-1 mr-1">
        <div class=" col-9">
            <div class="form-group has-search mt-3">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
            </div>
        </div>
        <div class="col-3 cancel mt-3">
            <a href="#" (click)="CancelText()">
                Cancel
            </a>
        </div>
    </div>
    <div class="related-device mb-4" *ngIf="type =='related'">
        <h3 class="pt-2 pb-2">
            Related Devices
        </h3>
    </div>
    <div *ngIf="list">
        <div *ngFor="let device of list | appFilter : 'deviceName': searchText ">
            <div widget class="card border mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 mt-2">
                            <img src='../../../../../assets/{{device.icon}}.png' height="60" width="50">
                        </div>
                        <div class="col-6 device-name">
                            <div><b>{{device.deviceName}}</b></div>
                            <div> Status: {{device.status ? "Available": "Not Available"}}</div>
                        </div>
                        <div class="col-3 mt-3">
                            <button (click)="getDeviceDetails(device)">
                                <i class="fa fa-info-circle info-icon" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>