$background-color: rgb(240, 237, 237);
$center          : center;


.card-body {
    background-color: $background-color;
}

.info-icon {
    font-size: 40px;
}

button {
    border: none;
    float : right;
}

.device-name {
    font-size: 25px;
}

.search {
    background-color: $background-color;

    input {
        width: 100%;
    }
}


.cancel {
    a {
        font-size      : 25px;
        float          : right;
        text-decoration: none;
    }

}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position      : absolute;
    z-index       : 2;
    display       : block;
    width         : 2.375rem;
    height        : 2.375rem;
    line-height   : 2.375rem;
    text-align    : $center;
    pointer-events: none;
    color         : #aaa;
}

.related-device {
    text-align      : $center;
    background-color: rgb(240, 237, 237);
}