<div class="device-list">
    <div *ngIf="relatedDevices">
        <div class="row">
            <div class="col-lg-7 mb-4">
                <app-list [list]="relatedDevices" [type]="'related'">
                </app-list>
            </div>

            <div class="col-5 device-detail pr-4">
                <div class="card" *ngIf="deviceDetails">
                    <div class="card-header">
                        Details: {{deviceDetails.deviceName}}
                    </div>
                    <div class="card-body">
                        <div>
                            Status: {{deviceDetails.status ? "Available": "Not Available"}}
                        </div>
                        <div>
                            StorageCapacity: {{deviceDetails.storageCapacity}}
                        </div>
                        <div>
                            usage:

                            <div class="row" style="margin-top: 15px;">
                                <div class="col-4"><img src="../../../../../assets/1.PNG" width="80" height="80"></div>
                                <div class="col-4"><img src="../../../../../assets/2.PNG" width="80" height="80"></div>
                                <div class="col-4"><img src="../../../../../assets/3.PNG" width="80" height="80"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 30px; text-align: right;">
                    <button class="btn btn-primary" (click)="goToDeviceList()">
                        Go back to device List
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>