<div class="heading mb-4 mt-2">
    <h1 class="center">Devices</h1>
</div>

<app-device-list *ngIf="!(deviceDetails$ | async)" [deviceList]="(deviceList$| async)">
</app-device-list>

<app-device-details *ngIf="(deviceDetails$ | async)" [deviceDetails]="(deviceDetails$ | async)"
    [relatedDevices]="(relatedDevices$ | async)">
</app-device-details>