@import "~font-awesome/scss/font-awesome.scss";

@import "~bootstrap/scss/bootstrap.scss";


input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}