
<div class="wrapper">
  <router-outlet></router-outlet>
</div>


<!-- spinner will load for every http requests until client get the response from the server -->
<ngx-spinner 
  bdColor="rgba(0, 0, 0, 0.8)" 
  size="medium" 
  color="#fff" 
  type="square-jelly-box" 
  [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
